@import '~bootstrap/scss/bootstrap';


* {
  background-image: url(https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1513542789411-b6a5d4f31634%3Fixlib%3Drb-1.2.1%26q%3D80%26fm%3Djpg%26crop%3Dentropy%26cs%3Dtinysrgb%26w%3D1080%26fit%3Dmax);
  font-family: 'Comic Neue', cursive;
  text-align: center;
}

.navbar-brand {
  margin: 0;
  padding: 0;
}

.page-header {
  font-size: 4em;
  color: rbga(250, 190, 88, 1);
}

.signs {
  border-style: solid;
}

.directions {
  height: 100px;
}

#content {
  border-style: solid;
  background-color: white;
  color: black;
  text-align: left;
}

.btn-seemore {
  border-style: solid;
}

.directions {
  padding: 10px;
  margin: 40px;
}

.create-word-div {
  padding: 30px;
  text-align: center;
}

#create-word {
  text-align: center;
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.outer-div, .update-word-div {
     padding: 30px;
     text-align: center;
}
.inner-div, #update-word {
     display: inline-block;
     padding: 50px;
}
