@import '~bootstrap/scss/bootstrap';

* {
  font-family: 'Comic Neue', cursive;
  text-align: center;
}

body {
  background-image: url(https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1513542789411-b6a5d4f31634%3Fixlib%3Drb-1.2.1%26q%3D80%26fm%3Djpg%26crop%3Dentropy%26cs%3Dtinysrgb%26w%3D1080%26fit%3Dmax);
  background-size: cover;
  background-position: center;
}

// .button {
//   background-color: #4CAF50;
//   border: none;
//   color: white;
//   padding: 15px 32px;
//   text-align: center;
//   text-decoration: none;
//   display: inline-block;
//   font-size: 16px;
//   margin: 4px 2px;
//   cursor: pointer;
// }

.vocab-section {
  display:inline-block;
  margin: 50px;
  padding: 15px;
  border-style: dashed;
  font-size: 20px;
  text-align: left;
  background-color: rgba(61, 235, 200, .8);
}

span {
  color: #eb8b3d;
  font-size: 24px;
}

.head {
  font-size: 30px;
  color: #823deb;
  // text-align: center;
}

.navbar-brand {
  margin: 0;
  padding: 0;
}

.page-header {
  font-size: 4em;
  color: rbga(250, 190, 88, 1);
}

.directions {
  height: 100px;
}

#content {
  color: black;
  text-align: left;
}

.btn-seemore {
  border-style: solid;
}

.directions {
  padding: 10px;
  margin: 40px;
}

.create-word-div {
  padding: 30px;
  text-align: center;
}

#create-word {
  text-align: center;
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.outer-div, .update-word-div {
     padding: 30px;
     text-align: center;
}
.inner-div, #update-word {
     display: inline-block;
     padding: 50px;
}
