@import '~bootstrap/scss/bootstrap';

* {
  font-family: 'Comic Neue', cursive;
  text-align: center;
}

body {
  background-image: url("./assets/crayons.jpeg");
  background-size: cover;
}

// .button {
//   background-color: #4CAF50;
//   border: none;
//   color: white;
//   padding: 15px 32px;
//   text-align: center;
//   text-decoration: none;
//   display: inline-block;
//   font-size: 16px;
//   margin: 4px 2px;
//   cursor: pointer;
// }

.vocab-section {
  display:inline-block;
  margin: 40px;
  padding: 20px;
  border-style: dashed;
  font-size: 20px;
  text-align: left;
  background-color: rgba(61, 235, 200, .8);
}

span {
  color: #eb8b3d;
  font-size: 24px;
}

.head {
  font-size: 30px;
  color: #823deb;
  // text-align: center;
}

.navbar-brand {
  margin: 0;
  padding: 0;
}

.page-header {
  font-size: 4em;
  color: rbga(250, 190, 88, 1);
}

.directions {
  height: 100px;
}

#content {
  color: black;
  text-align: left;
}

.btn-seemore {
  border-style: solid;
}

.directions {
  padding: 10px;
  margin: 40px;
}

.button-row {
  margin-bottom: 20px;
}

#create-word {
  text-align: center;
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #FFCC00;
  border: 2px dotted #823deb;
  border-radius: 15px;
}

#update-word {
  text-align: center;
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #FFCC00;
  border: 2px dotted #823deb;
  border-radius: 15px;
}

.signbox {
  text-align: center;
  justify-content: center;
}

header {
  background: linear-gradient(90deg, rgba(254,201,76,1) 25%, rgba(253,227,148,1) 50%, rgba(254,201,76,1) 75%);
}
